In [14]:
# Import the appropriate libraries with aliases
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

# Create three new dataframes for each csv
diabetes_df = pd.read_csv(r"cleaned_diabetes_df.csv")

In [15]:
# adding a column to categorize BMI by class
def categorizing_BMI(BMI):
        if BMI < 18.5:
                return 'underwt'
        elif 18.5 <= BMI <= 24.9:
                return 'healthywt'
        elif 25 <= BMI <= 29.9:
                return 'overwt'
        elif 30 <= BMI <= 34.9:
                return 'class1ob'
        elif 35 <= BMI <= 39.9:
                return 'class2ob'
        elif BMI >= 40:
                return 'severeob'

diabetes_df['BMI_Category'] = diabetes_df['BMI'].apply(categorizing_BMI)
display(diabetes_df.head())

,HighChol,BMI,Smoker,HeartDiseaseorAttack,Fruits,Veggies,HvyAlcoholConsump,Stroke,HighBP,Diabetes,BMI_Category
0,No,26.0,No,No,No,Yes,No,No,Yes,No,overwt
1,Yes,26.0,Yes,No,Yes,No,No,Yes,Yes,No,overwt
2,No,26.0,No,No,Yes,Yes,No,No,No,No,overwt
3,Yes,28.0,Yes,No,Yes,Yes,No,No,Yes,No,overwt
4,No,29.0,Yes,No,Yes,Yes,No,No,No,No,overwt

In [16]:
display(diabetes_df.info())
diabetes_df.to_csv('manipulated_diabetes_df.csv', index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68511 entries, 0 to 68510
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   HighChol              68511 non-null  object
 1   BMI                   68511 non-null  float64
 2   Smoker                68511 non-null  object
 3   HeartDiseaseorAttack  68511 non-null  object
 4   Fruits                68511 non-null  object
 5   Veggies               68511 non-null  object
 6   HvyAlcoholConsump     68511 non-null  object
 7   Stroke                68511 non-null  object
 8   HighBP                68511 non-null  object
 9   Diabetes              68511 non-null  object
 10  BMI_Category          68511 non-null  object
dtypes: float64(1), object(10)
memory usage: 5.7+ MB

None